@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 203 21% 93%;
  /* --background: 8 90% 59%; */
  --foreground: 233 100% 20%;
  --section-background: 233 100% 33%;
  --link: 233 100% 33%;
  --accent: 233 100% 33%;

  --primary: var(--accent);
  --primary-foreground: var(--background);
  --secondary: var(--section-background);
  --secondary-foreground: var(--foreground);
  --input: var(--foreground);

  scroll-behavior: smooth;
}

body {
  background: hsl(var(--background));
}
